.item-input {
  width: 100%;
  background: #1e222d;
  color: #d1d4dc;
  border: 1px solid #434651;
}

.item-input-result {
  width: 100%;
  background: #ffffff1a;
  color: #d1d4dc;
  border: 1px solid #434651;
}

.calculator-input {
  width: 100%;
  background: #1e222d;
  color: #d1d4dc;
  border: 1px solid #434651;
  flex: 1;
}

.calculator-input-result {
  width: 100%;
  background: #ffffff1a;
  color: #d1d4dc;
  border: 1px solid #434651;
  flex: 1;
}

.body {
  padding: 20px;
  height: 100%;
}

.body-left {
  color: white;
  height: 100%;
  width: 50%;
}

.body-direction {
  height: 100%;
  flex-direction: column;
  display: flex;
}

.input-label {
  text-align: center;
  color: #d1d4dc;
}

.padding-right {
  padding-right: 10px;
}

.input-label2 {
  flex: 1;
  color: #d1d4dc;
}

.box-item {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
}

.box-item-body {
  width: 100%;
  padding: 25px;
  padding-top: 40px;
}

.box-body {
  width: 100%;
  border: 1px solid #434651;
  border-radius: 5px;
  height: 100%;
}

.box-header {
  width: 100%;
  height: 100%;
  padding: 10px;
  background: #ffffff1a;
}
.box-body-item {
  width: 100%;
  height: 20%;
  border-bottom: 1px solid #434651;
}

.stack-direction {
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  gap: 30px;
}

.box-result {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
