<!DOCTYPE html>
<html>
  <head>
    <title>cv Charts</title>
  </head>
  <body>
    <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container" id="chart-container"></div>
    <!-- TradingView Widget END -->

    <script>
      // Define an array of chart configurations
      const chartConfigurations = [
        {
          dateRange: "5d|60",
        },
      ];

      // Function to create a chart container and embed TradingView widget
      function createChartContainer(configuration) {
        const chartContainer = document.createElement("div");
        chartContainer.className = "chart-container";
        document.getElementById("chart-container").appendChild(chartContainer);

        const scriptElement = document.createElement("script");
        scriptElement.type = "text/javascript";
        scriptElement.async = true;
        scriptElement.src =
          "https://s3.tradingview.com/external-embedding/embed-widget-symbol-overview.js";
        scriptElement.innerHTML = JSON.stringify({
          symbols: "OANDA:{{symbol}}|5D",
          chartOnly: true,
          width: "300",
          height: "200",
          locale: "en",
          colorTheme: "light",
          autosize: false,
          showVolume: false,
          showMA: false,
          hideDateRanges: false,
          hideMarketStatus: false,
          hideSymbolLogo: false,
          scalePosition: "no",
          scaleMode: "Normal",
          fontFamily:
            "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
          fontSize: "10",
          noTimeScale: true,
          valuesTracking: "1",
          changeMode: "no-values",
          chartType: "line",
          maLineColor: "#2962FF",
          maLineWidth: 1,
          maLength: 9,
          gridLineColor: "rgba(209, 212, 220, 0.25)",
          lineWidth: 2,
          lineType: 2,
          dateRanges: [configuration.dateRange],
          upColor: "#22ab94",
          downColor: "#f7525f",
          borderUpColor: "#22ab94",
          borderDownColor: "#f7525f",
          wickUpColor: "#22ab94",
          wickDownColor: "#f7525f",
        });
        chartContainer.appendChild(scriptElement);
      }

      chartConfigurations.forEach(createChartContainer);
    </script>
  </body>
</html>
